<footer>
 <section class="layout">
  <br> <br><br><br>
   <p class="text-center" style="color: gray">2017 清华大学 - 信息检索课  &nbsp &nbsp  Developed by : Thomas Paradis 唐穆</p>
 </section><!-- layout -->
</footer><!-- footer -->